@CHARSET "UTF-8";

#vlcs_bkml_overlay {
	width:		100%;
	height:		100%;
	z-index:	65000;
	background:	rgba(0,0,0,0.5);
	position:	fixed;
	top:		0;
	left:		0;
}

.vlcs_bkml_wrapper {
	position:		fixed;
	top:			10%;
	bottom:			10%;
	right:			10%;
	left:			10%;
	z-index:		65001;
	background:		rgba(200,220,200,0.6);
	border:			1px solid rgba(200,220,200,0.4); 
	padding:		1em;
	
	-moz-border-radius:	0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 		0.5em;
}

#vlcs_bkml_percent_wrapper {
	position:		fixed;
	top:			1%;
	bottom:			96%;
	right:			10%;
	left:			10%;
	z-index:		65001;
	background:		rgba(200,220,200,0.6);
	border:			1px solid rgba(200,220,200,0.4); 
	
	-moz-border-radius:	0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 		0.5em;
}

#vlcs_bkml_percent_bar {
	position:		absolute;
	top:			0;
	bottom:			0;
	left:			0;
	z-index:		65002;
	background:		rgba(200,220,200,0.9);
}

#vlcs_bkml_percent_value {
	position:		absolute;
	top:			0;
	bottom:			0;
	left:			45%;
	z-index:		65003;
	color:			black;
	font-shadow:	1px 1px 1px white;
	font-weight:	bold;
}

.vlcs_bkml_wrapper .vlcs_bkml_inner, #vlcs_bkml_addallform_results {
	border:			1px solid rgba(200,220,200,0.8);
	padding:		1em;
	background:		rgba(215,231,231,1);
	position: 		fixed;
	top:			11%;
	bottom:			11%;
	left:			11%;
	right:			11%;

	-moz-border-radius:		0.2em;
	-webkit-border-radius:	0.2em;
	border-radius: 			0.2em;
	
}

#vlcs_bkml_addallform_results {
	padding: 0;
	width: 78%;
	height: 78%;
}

.vlcs_bkml_scrollable {
	overflow: auto;
}

.vlcs_bkml_wrapper * {
	font-family: Helvetica, Arial, Sans-serif;
	color: black;
	font-size: 12pt;
	line-height: 1em;
}

.vlcs_bkml_wrapper h1, .vlcs_bkml_wrapper h2, .vlcs_bkml_wrapper p {
	margin-bottom: 0.5em;
}

.vlcs_bkml_wrapper h1, .vlcs_bkml_wrapper th {
	font-size: 14pt;
	color: black;
	font-weight: bold;
}

.vlcs_bkml_wrapper table {
	margin: 1em inherit;
	border-spacing: 4px; 	
}

.vlcs_bkml_wrapper th {
	padding: 0.5em;
}

.vlcs_bkml_wrapper tr {
	border-bottom: 1px dotted rgba(0,0,0,0.6);
	margin: 1em;
}

.vlcs_bkml_wrapper input, .vlcs_bkml_wrapper button {
	border: 1px solid black;
	padding: 0.3em 0.7em;
}

.vlcs_bkml_wrapper label {
	font-style: italic;
	font-weight: bold;
	margin-right: 2em;
	width: 25%;
	display: inline-block;
	text-align: right;
}

#vlcs_bkml_closebutton {
	padding: 0.5em 1em;
	border: 2px solid black;
	position: fixed;
	bottom: 88%;
	left: 88%;
	display: inline-block;
	z-index: 200000;
	background-color: white;
	color: black;
	font-style: underline;
	font-weight: bold;
}
